/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $color-button-font;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
    }

  .default {
    background-color: $color-col4;
    &:hover{
    background-color: lighten($color-col4, 10%);
    }
  }

  .error {
    background-color: $color-col9;
    &:hover{
      background-color: lighten($color-col9, 10%);
    }
  }

  .info {
    background-color: $color-col1;
    &:hover{
      background-color: lighten($color-col1, 10%);
    }
  }

  .success {
    background-color: $color-col10;
    &:hover{
      background-color: lighten($color-col10, 10%);
    }
  }

  .warning {
    background-color: $color-col2;
    &:hover{
      background-color: lighten($color-col2, 10%);
    }
  }
