/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: $radius;
}

.theme.col-1 {
  background-color: $color-col1;
}

.theme.col-2 {
  background-color: $color-col2;
}

.theme.col-3 {
  background-color: $color-col3;
}

.theme.col-4 {
  background-color: $color-col4;
}

.theme.col-5 {
  background-color: $color-col5;
}

.theme.col-6 {
  background-color: $color-col6;
}

.theme.col-7 {
  background-color: $color-col7;
}

.theme.col-8 {
  background-color: $color-col8;
}

.theme.col-9 {
  background-color: $color-col9;
}

.theme.col-10 {
  background-color: $color-col10;
}

.theme.col-11 {
  background-color: $color-secondary;
}

.theme.col-12 {
  background-color: $color-col12;
}

.card {
  flex-basis: 100%;
}
